body {
    padding-top: 20px;
    padding-bottom: 60px;
}
#lnk-logo{width:200px;}
#lnk-logo:hover,#lnk-logo:hover #logo {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
#logo{   
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    letter-spacing: -2px;
    word-spacing: -5px;
}
#logo #l1{
    margin: 0;
    padding:0;
    font-weight: 200;
}
#logo #l2{
    margin: 0;
    padding:0;    
    font-weight: 400;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

#immablog-thoughts a.thought{
    color: #111;    
} 
#immablog-thoughts a.thought:hover{
    color: #000;
    text-decoration:none;
}
.home_thought{
    margin-bottom: 80px;
}

#immablog-single-thought .abstract{
    margin: 20px;
    font-style: italic;
}
.control-group .controls textarea {
    resize:vertical;     
    min-height:400px; 
}

#thought-children h3{
    margin: 0 0 40px 0;
}
#thought-children {
    
}

.expanded #thought-children{
    width: auto;
}
#thought-children article.comment{
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
}
#thought-children .btn-link:hover span{
    display: inline;
}
#thought-children .btn-link span{
    display:none;
}

#thought-content, #thought-aside{
    transition: width .2s;
}
#comments-row{
    margin-top: 90px;
}
#new-comment-form input, #new-comment-form textarea{
    width: 100%;    
    padding: 15px;
}
/** comments **/
#fos_comment_comment_body{
    width: 100%;
    min-height: 200px;
}
#fos_comment_thread .fos_comment_submit{
    margin: 20px auto 40px auto;
    text-align: center;
}
#fos_comment_thread .fos_comment_comment_metas{
    margin: 20px 0;
    color: #666;
}
#fos_comment_thread .fos_comment_comment_body{
    margin: 5px 0 20px;
}
#fos_comment_thread .fos_comment_comment_reply{
    text-align: right;
}