body {
    padding-top: 20px;
    padding-bottom: 60px;
}
li{
    line-height: 1.4em;
    margin-bottom: 1em;
}
#left-col{
    text-align: right;
}
#social-links{    
}
#social-links a{
    margin: 0 0 0 24px;
}
#social-links a:hover{
    text-decoration:none;
}
#immablog-main{
    margin-top:100px;
}
#lnk-logo{}
#lnk-logo:hover,#lnk-logo:hover #logo {
    text-decoration: none;
}
#logo{   
    margin: 0;
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    word-spacing: -3px;
}
#logo #l1{
    margin: 0;
    padding:0;
    font-weight: 200;
}
#logo #l2{
    margin: 0;
    padding:0;    
    font-weight: 400;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 22px;
}
.container > hr {
    margin: 60px 0;
}

#immablog-thoughts a.thought{
    color: #111;    
} 
#immablog-thoughts a.thought:hover{
    color: #000;
    text-decoration:none;
}
.home_thought{
    margin-bottom: 80px;
}

#immablog-single-thought h1{
    margin-top: 0;
    font-weight: bold;
}
#immablog-single-thought .abstract{
    margin: 20px;
    font-style: italic;
    font-size: 25px;
    color: #666;
}


/** comments **/
#fos_comment_comment_body{
    width: 100%;
    min-height: 200px;
}
#fos_comment_thread .fos_comment_submit{
    margin: 20px auto 40px auto;
    text-align: center;
}
#fos_comment_thread .fos_comment_comment_metas{
    margin: 20px 0;
    color: #666;
}
#fos_comment_thread .fos_comment_comment_body{
    margin: 5px 0 20px;
}
#fos_comment_thread .fos_comment_comment_reply{
    text-align: right;
}