body {
    padding-top: 20px;
    padding-bottom: 60px;
}
#lnk-logo{width:200px;}
#lnk-logo:hover,#lnk-logo:hover #logo {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
#logo{   
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    letter-spacing: -2px;
    word-spacing: -5px;
}
#logo #l1{
    margin: 0;
    padding:0;
    font-weight: 200;
}
#logo #l2{
    margin: 0;
    padding:0;    
    font-weight: 400;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

#immablog-thoughts a.thought{
    color: #111;    
} 
#immablog-thoughts a.thought:hover{
    color: #000;
    text-decoration:none;
}
.home_thought{
    transition: background 1s;
    margin-bottom: 80px;
}
.home_thought:hover{
    background: #dedede;
}

#immablog-single-thought .abstract{
    margin: 20px;
    font-style: italic;
}
.control-group .controls textarea { resize:vertical; min-height:400px; }