<div id='author-container'>
    <div id='author-avatar-container'>
        <a href='{{path('immablog_home')}}' id="lnk-logo">
            <img src='http://www.gravatar.com/avatar/2afe81c150be382c52537620769febff' id='author-avatar' />
            <h3 class="muted" id="logo">       
                <span id="l1">Nacho</span> <span id="l2">Brito</span>
            </h3>
        </a>
    </div>
    <div id='social-links'>
        <a class='muted' href='https://twitter.com/nacho_brito'><i class="fa fa-twitter"></i></a>
        <a class='muted' href='https://github.com/NachoBrito'><i class="fa fa-github-alt"></i></a>
        <a class='muted' href='https://www.linkedin.com/in/nachobrito'><i class="fa fa-linkedin"></i></a>
    </div>
</div>