<article class="comment">
    <h4>{{ thought.title }}</h4>
    <img width="64" src="{{thought.authorAvatarUrl}}?s=64" class="pull-right" />
    {{ thought.contentHTML | raw }}
    <div class="clear">
        <p class='muted'>
            {{entry.created|date()}}
        </p>        
    </div>
</article>