{% extends 'NachoBritoThoughtsBundle:Default:index.html.twig' %}

{% block title %}{{ thought.title }}{% endblock %}

{% block body %}
<div class="row-fluid" id="immablog-main">
    <div class="span8 offset2" id="thought-content">
        <div class="row-fluid">
            <div id="immablog-single-thought">
                <article>
                    <h1>{{ thought.title }}</h1>
                    <div class="abstract">
                        {{ thought.abstractHTML | raw }}
                    </div>
                    {{ thought.contentHTML | raw }}
                </article>
            </div>
        </div>

    </div>
</div>
<div class='row-fluid' id='comments-row'>
    <div class="span8 offset2" id="thought-comments">
     {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': thought.slug} %}
    </div>
</div>
{% endblock %}
