.wisiwig_editor {
    max-height: 450px;
    height: 450px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

body {
    padding-top: 20px;
    padding-bottom: 60px;
}
#lnk-logo{width:200px;}
#lnk-logo:hover,#lnk-logo:hover #logo {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
#logo{   
    color: #111;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    letter-spacing: -2px;
    word-spacing: -5px;
}
#logo #l1{
    margin: 0;
    padding:0;
    font-weight: 200;
}
#logo #l2{
    margin: 0;
    padding:0;    
    font-weight: 400;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

#immablog-thoughts a.thought{
    color: #111;    
} 
#immablog-thoughts a.thought:hover{
    color: #000;
    text-decoration:none;
}
.home_thought{
    margin-bottom: 80px;
}

#immablog-single-thought .abstract{
    margin: 20px;
    font-style: italic;
}
.control-group .controls textarea { resize:vertical; min-height:400px; }

#thought-children h3{
    margin: 0 0 40px 0;
}
#thought-children {
    width: 260px;
}
#thought-children article.comment{
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
}
#thought-children .btn-link:hover span{
    display: inline;
}
#thought-children .btn-link span{
    display:none;
}